<div class="container-country">
    {{#each this}}
    <h2 class="counry-name">{{name}}</h2>
    <div class="country-description">
        <div class="item">
            <p><strong>Capital: </strong>{{capital}}</p>
            <p><strong>Populations: </strong>{{population}}</p>
            <p><strong>Languages: </strong></p>
            <ul>
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="item">
            <img class="country-flag" src="{{flag}}" alt="{{name}}">
        </div>
    </div>
    {{/each}}
</div>